extends ../layout

block content
    h1= title
    div
      form
        fieldset
          label ID
          input(type='text', disabled=true, value=therapist.id)
          br
          label ФИО
          input(type='text', disabled=true, value=therapist.label)
          br
          label Номер
          input(type='text', disabled=true, value=therapist.phone)
